<html>

<head>
<title>Uber</title>
<meta charset="utf-8">
<link rel="icon" href="/images/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body
	background="http://s3.amazonaws.com/digitaltrends-uploads-prod/2015/06/shutterstock_271665845.jpg"
	style="background-repeat: no-repeat; background-size: cover;overflow-x:hidden;">
	<div class="background-image-fixed cover-image">
		<nav class="navbar navbar-default"
			style="opacity: 0.9; z-index: 90; line-height: 10px; color: #fff; background-color: rgba(0, 0, 0, .2); border-bottom: 1px solid #adadad; display: block;">
			<div class="container-fluid">
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse"
					id="bs-example-navbar-collapse-1" style="opacity: 1";="">
					<ul class="nav navbar-nav" style="opacity: 1";="">
						<li class="dropdown"
							style="opacity: 1; padding: 5px 12px; color: #fff; font-size: 12px; text-transform: uppercase; text-decoration: none; margin: 0; ont-family: ff-clan-web-pro-wide, sans-serif; font-weight: 400; text-align: right; text-shadow: none;";="">
							<a href="#" class="dropdown-toggle"
							style="opacity: 1; padding: 5px 12px; color: #fff; font-size: 12px; text-transform: uppercase; text-decoration: none; margin: 0; ont-family: ff-clan-web-pro-wide, sans-serif; font-weight: 400; text-align: right; text-shadow: none;"
							data-toggle="dropdown" role="button" aria-haspopup="true"
							aria-expanded="false">Menu <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Safety</a></li>
								<li><a href="#">Business</a></li>
								<li><a href="#">Developer</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="/signUpCustomer">Sign Up</a></li>
							</ul>
						</li>
					</ul>
					<h1 style="color: white; position: relative" align="center">
						<img src="/images/uber_main_logo.png" style="height: 50px;">
						<ul class="nav navbar-nav navbar-right" style="opacity: 1";="">
							<li><a href="/Log_In"
								style="opacity: 1; padding: 5px 12px; color: #fff; font-size: 12px; text-transform: uppercase; text-decoration: none; margin: 0; ont-family: ff-clan-web-pro-wide, sans-serif; font-weight: 400; text-align: right; text-shadow: none;">LOG
									IN</a></li>
							<li><a href="/signUpCustomer"
								<button type="button" class="btn btn-primary btn-sm"
									style="opacity: 1; padding: 5px 12px; color: #fff; font-size: 12px; text-transform: uppercase; border: 2px solid #1fbad6; background-color: #070716;">SIGN
									UP</button>
							</a></li>
						</ul>
					</h1>
					<br>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-6">
			<h1 style="color: white">YOUR RIDE, ON DEMAND</h1>
			<h3 style="color: white">TRANSPORTATION IN MINUTES WITH THE UBER
				APP</h3>
			<br>
			<div class="col-md-3">
			<a href="/signUpDriver"
				<button type="button" class="btn btn-primary"
					style="opacity: 1; width: 100%; background-color: #1FBAD6; font-family: 
					ff-clan-web-pro-wide, sans-serif; font-size: 16px; width: 240px; margin-left: 5%; 
					margin-right: 5%; padding: 12px 8px;">Become A Driver
				</button>
				</a>
			</div>
		</div>
	</div>
</body>

</html>