<html>
<head>
<title>Uber</title>
<meta charset="utf-8">
<link rel="icon" href="/images/favicon.ico">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript"
	src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>
<script type="text/javascript"
	src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link
	href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">
<link href="../public/stylesheets/sign_in_customer.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/js/customerjs.js"></script>
</head>
<body ng-app="UberPrototype" ng-controller="loginController">

	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<a href="/"><img src="http://imgur.com/Ixo0znz.png" class="img-responsive"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<form role="form" name="customerLoginForm" id="customerLoginForm"
						action="/loginCustomer" method="post" novalidate>
						<div class="form-group">
							<label class="control-label">Email
								address</label><input class="form-control" name= "username" id="user.username"
								id="user.username" ng-model="user.username"
								placeholder="Enter email" name = "username" type="email">
						</div>
						<div class="form-group">
							<label class="control-label" for="exampleInputPassword1">Password</label>
							<input
								class="form-control" id="user.password" ng-model="user.password"
								placeholder="Password" name = "password" type="password">
						</div>
						<div class="alert alert-danger" ng-hide="invalid_login">
							<strong>Error! Wrong Login Information</strong>
						</div>
						<input type = "hidden" name= "loginType" id= "user.loginType" ng-model="user.loginType" value="customer">
						<button type="submit" class="btn btn-primary">Submit</button>
						</br>
						<div class="row" style = "padding:20 55;"><div class="col-md-2"></div><div class="col-md-7"><div class="alert alert-danger" ng-init="user=<%= user  %>"
							ng-show="user.errorInloginForm">
							<strong>Error! {{user.errorMessage}}</strong>
						</div></div></div>
						
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>