<div class="row">
<div class="col-xs-12" ng-init="initCustomerPayment()">
	  <div class="row">
      <div class="col-xs-10 col-xs-offset-1" style="border-bottom: 1px solid #ccc; padding-top:10px; padding-bottom:10px;">
        <h4 align="center">PAYMENT</h4>
        </div>
        </div>
        
        <div class="row">
        <div class="col-xs-10 col-xs-offset-1" style="border-bottom: 1px solid #ccc; padding-top:10px; padding-bottom:10px;">
        <div class="row">
        <div class="col-xs-11">Payment Methods</div>
        <div class="col-xs-1"><font color="#0099ff"><a href=""><b>+</b></a></font></div>
        </div>
        </div>
        </div>
        
        <div class="row">
        <div class="col-xs-10 col-xs-offset-1" style="border-bottom: 1px solid #ccc; padding-top:10px; padding-bottom:10px;">
        <div class="row">
        <div class="col-xs-11"><span><img src="/images/mastercard.png" style="width: 30px;height: 30px;" /></span>
                    Personal MasterCard <span style="font-size:10px;">&#9679 &#9679 &#9679 &#9679</span>{{crecardnum}}
                    <span style="font-size:10px;">Expires {{credate}}</span></div>
        <div class="col-xs-1"><span><font size="2" align="right" color="#0099ff"><a href="#">EDIT</a></font></span></div>
        </div>
        </div>
        </div>
        </div>
        </div>
       
        
       
        