<div class="row" ng-init="initMyTrips()">
<div class="col-xs-12">
	<div class="col-xs-10 col-xs-offset-1" style="border-bottom: 1px solid #ccc; text-align:center;">
      <div class="col-xs-4 col-xs-offset-4">
        <h1>My Trips</h1>
      </div>
     </div>
 </div>
 </div>
    <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-10 col-xs-offset-1" style="border-bottom: 1px solid #ccc; padding-top:10px; padding-bottom:10px;">
        <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-3">PickUp</div>
        <div class="col-xs-2">Fare</div>
        <div class="col-xs-3">Car</div>
        <div class="col-xs-3">Ride Status</div>
        </div>
      </div>
      <div ng-repeat="trips in mytrips">
      <div class="row">
      <div class="col-xs-12">
      <div class="col-xs-10 col-xs-offset-1" style="border-bottom: 1px solid #ccc; padding-top:10px; padding-bottom:10px;">
        <div class="row">
        <div class="col-xs-1"><a href="" ng-model="rideid" ng-click="toggleMyTrips()"><span>&#8744</span></a></div>
        <div class="col-xs-3">{{trips.PICKUP_DATE}}</div>
        <div class="col-xs-2">${{trips.FARE}}</div>
        <div class="col-xs-3">{{trips.CAR}}</div>
        <div class="col-xs-3">{{trips.STATUS}}</div>
        </div>
      </div>
    </div>
    </div>
    <div class="row" ng-hide="TripDetails">
    <div class="col-xs-10 col-xs-offset-1" style="border-bottom: 1px solid #ccc; padding-top:10px; padding-bottom:10px;">
    <div class = "row" style="text-align:center; min-height:50px;">
        <h3> Ride was {{trips.STATUS}} </h3>      
    </div>
        <div class="row">
	        <div class="col-xs-6" style="text-align:center; min-height:100px;">
	        <div class="row"><div class="col-xs-10 col-xs-offset-1">PickUp: {{trips.PICKUPTIME}}</div></div>
	        <div class="row"><div class="col-xs-10 col-xs-offset-1">{{trips.SOURCE}}</div></div>
	        </div>
	        <div class="col-xs-6" style="text-align:center; min-height:50px;">
	        <div class="row"><div class="col-xs-10 col-xs-offset-1">DropOff: {{trips.DROPOFFTIME}}</div></div>
	        <div class="row"><div class="col-xs-10 col-xs-offset-1">{{trips.DESTINATION}}</div></div>
	        </div>
        </div>	
     </div>
      </div>
      </div>
      </div>
      </div>
    </div>
