<div class="row" ng-init="getPageData()">
<div class="col-xs-10 col-xs-offset-1" style="border-bottom: 1px solid #ccc; padding-top:30px; padding-bottom:60px;">
<div class="row" style="padding-bottom:30px;">
  <div class="col-xs-5" style="padding-left:40px; padding-bottom:20px;">
    <h4>
      <b>Bill Summary!</b>
    </h4>
    <p>
      <br>
      <label style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif; color: #9197a3;">Billed to</label>
      <br>{{ customerName }}
      <br>
    </p>
    <p>
      <br>
      <label style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif; color: #9197a3;">TRIP REQUEST DATE</label>
      <br>{{ tripDate }}</p>
    <p>
      <br>
      <label style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif; color: #9197a3;">Pickup Location</label>
      <br>{{ pickupLocation }}</p>
    <p>
      <br>
      <label style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif; color: #9197a3;">Dropoff Location</label>
      <br>{{ dropoffLocation }}</p>
    <p>
      <br>
      <label style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif; color: #9197a3;">BILLED AMOUNT</label>
      <br>$ {{ amount }}</p>
  </div>
  <div class="col-xs-7" style="padding-bottom:60px;">
  <div class="row">
  <div class="col-xs-2">
  <img src="../images/default_profile_pic.jpeg" alt="Online Img" style="width: 60px;height: 60px;">
  </div>
  <div class="col-xs-8">
  <p>
      <br>
      <label style="font-family: Helvetica Neue,Helvetica,Arial,sans-serif; color: #9197a3;">DRIVER</label>
      <br>{{ driverName }}</p>
  </div>
  </div>
  <div class="row">
  <div class="col-xs-11">
  <map center="current-position" zoom-to-include-markers='true'>
<!-- <marker position="{{sourcePosition.lat}}, {{sourcePosition.lng}}"></marker>
<marker position="{{destPosition.lat}}, {{destPosition.lng}}"></marker> -->
	<directions
         draggable="true"
         travel-mode="DRIVING"
         origin={{source}}
         destination={{destination}}>
     		</directions>
</map>
   </div>
   </div>
   </div>
 </div>
 <div class="row">
 <div class="col-xs-5" style="padding-left:40px;">Rate Your Rider</div>
 <div class="col-xs-7">
 
  <fieldset class="rate">
    <input type="radio" id="rating10" name="rating" value="5" /><label for="rating10" title="5 stars"></label>
    <input type="radio" id="rating9" name="rating" value="4.5" /><label class="half" for="rating9" title="4 1/2 stars"></label>
    <input type="radio" id="rating8" name="rating" value="4" /><label for="rating8" title="4 stars"></label>
    <input type="radio" id="rating7" name="rating" value="3.5"/><label class="half" for="rating7" title="3 1/2 stars"></label>
    <input type="radio" id="rating6" name="rating" value="3" /><label for="rating6" title="3 stars"></label>
    <input type="radio" id="rating5" name="rating" value="2.5" /><label class="half" for="rating5" title="2 1/2 stars"></label>
    <input type="radio" id="rating4" name="rating" value="2" /><label for="rating4" title="2 stars"></label>
    <input type="radio" id="rating3" name="rating" value="1.5" /><label class="half" for="rating3" title="1 1/2 stars"></label>
    <input type="radio" id="rating2" name="rating" value="1" /><label for="rating2" title="1 star"></label>
    <input type="radio" id="rating1" name="rating" value=".5" /><label class="half" for="rating1" title="1/2 star"></label>
    <input type="radio" id="rating0" name="rating" value="0" /><label for="rating0" title="No star"></label>
</fieldset>
</div>
<div class="col-xs-5" style="padding-left:40px;">Provide Feedback Reviews</div>
 <div class="col-xs-7"><textarea rows="4" cols="50" id="ReviewRiderPost" ng-model="reviewRiderTextArea" style="overflow: auto; width:200px; height:53px;"></textarea></div>
 <div class="col-xs-7 col-xs-offset-5" style="padding-top:10px;"><input type="button" id="postRiderReview" value="Post" class="btn btn-primary" ng-click="postRiderReview()"/></div>
 <div class="col-xs-7 col-xs-offset-5"> {{ reviewComments }}</div>
 </div>
 </div>
 </div>
