<div class="col-xs-12" ng-init="initRideStatistics()">
<form class="form" novalidate="">
		  <br>
          <div class="row" style="padding-top:10px; padding-bottom:10px;">
            <div class="col-xs-1">
              <label><font size="3" color="#808080">Area</font></label>
            </div>
            <div class="col-xs-6 col-xs-offset-1">
              <input type="text" class="form-control" id="area" name="area" ng-model="area" placeholder="Enter the location" googlearea/>
            </div>
            <div class="col-xs-2 col-xs-offset-1" ng-hide="hideinvaliddate">
              <span font="color:red;">{{invalidsource}}</span>
            </div>
           </div>
           <div class="row" style="padding-top:10px; padding-bottom:10px;">
           	<div class="col-xs-2">
              <label><font size="3" color="#808080">Start Date</font></label>
            </div>
           	<div class="col-xs-4">
           	<div class="form-group">
              <input class="form-control  input-lg" type="date" class="form-control" id="startdate" name="startdate" ng-model="startdate" style="height:32px;" required/>
              <p ng-show="" class="help-block" style="padding: 0px 0px;">Please
				Select From Date.</p>
				</div>
            </div>
           	<div class="col-xs-2">
              <label><font size="3" color="#808080">End Date</font></label>
            </div>
           	<div class="col-xs-4">
           	<div class="form-group">
              <input class="form-control  input-lg" type="date" class="form-control" id="enddate" name="enddate" ng-model="enddate" style="height:32px;" required/>
            <p ng-show="" class="help-block" style="padding: 0px 0px;">Please
				Select To Date.</p>
            </div>
            </div>
            </div>
           <div class="row">
           <div class="col-xs-4 col-xs-offset-1">
  		   <button type="button" class="btn btn-primary custom" ng-click="RideStatistics()">Ride Statistics</button>
  		   </div>
  		   <div class="col-xs-4 col-xs-offset-1">
  		   <button type="button" class="btn btn-primary btn-sm custom" ng-click="CancelRideStatistics()">Cancel</button>
           </div>
           </div>
           </form>
           <div class="row" ng-hide="HideRideStats">
           <div class="col-xs-8 col-xs-offset-2" style="">
           <div class="row">
           <div class="col-xs-6" style="">
           <div>
                <div google-chart chart="chart" style="{{chart.cssStyle}}"/>
           </div>
           <div class="col-xs-6" style="">
           <div>
                <div google-chart chart="charttot" style="{{charttot.cssStyle}}"/>
           </div>
           </div>
           </div>
           </div>
          
           